h1{
    background-color: blue;
}
body{
    background-color: rgb(192, 228, 255);
}

button{
    background-color: blue;
    color: white ;
}


#box {
    height : 200px;
    width : 300px;   
    background-color: red;
    margin: 20px;
    color: white;
    border-radius: 20px;
}